@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Poiret+One");

/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#root,
.App,
.colorBlock {
  overflow: hidden;
}

/* Navbar styles */

.navbar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 45px;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  box-shadow: 0 1px 3px;
}

.navbar_brand {
  font-family: "Poiret One", cursive;
  font-size: 18px;
}

.brand_icon {
  margin-left: 5px;
}

.navbar_buttons {
  display: flex;
  align-self: stretch;
}

.navbar_btn {
  width: 80px;
  transition: all 0.2s;
  color: #333;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_btn:active {
  background: #3338;
  color: #eee;
}

/* modal styles */

.modal {
  opacity: 1;
  position: absolute;
  z-index: 100;
  margin: auto;
  min-height: 200px;
  min-width: 400px;
  left: 50vw;
  top: 30vh;
  padding: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  color: #f1f1f1;
  background: #444c;
  border-radius: 10px;
  box-shadow: 2px 2px 50px #444d;
  transform: translateX(-50%);
  transition: all 2s;
}

.modal h2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-weight: 300;
}

.modal i {
  font-size: 2rem;
  margin-right: 20px;
}

/* main container styles */

.container {
  height: 100vh;
  width: 100vw;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* styling for the colorblocks */
/* organized 'top-down' */

.colorBlock {
  flex: 1 1 30%;
  transition: all 0.3s, color 0s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.colorBlock:hover {
  flex: 1 1 40%;
  z-index: 10;
  box-shadow: 0 5px 20px #333;
}

/* block header */

.colorBlock_head {
  margin: 10px;
  flex: 0 1 40%;
  align-self: flex-start;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 5;
  transition: all 0.3s, color 0s;
}

.head_title {
  margin: 5px;
  text-transform: uppercase;
  opacity: 0;
  transform-origin: left;
  transform: translateX(-20px) scaleX(0);
  transition: transform 0.3s ease, opacity 0.3s linear, font-size 0.3s ease,
  color 0s;
}

.head_title:first-of-type {
  transform: translateX(0px) scaleX(1);
  opacity: 1;
}

.colorBlock:hover .head_title {
  font-size: 12px;
  transform: translateX(0px) scaleX(1);
  opacity: 1;
}

/* control panel */

.controls {
  max-width: 350px;
  flex: 0 1 30%;
  padding: 10px;
  margin-top: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-self: stretch;
  transform: translateX(300px);
  opacity: 0;
  z-index: 5;
  transition: transform 0.3s ease, opacity 0.3s linear, color 0s;
}

.colorBlock:hover .controls {
  opacity: 1;
  transform: translateX(0px);
}

.sliders_container {
  display: none;
}

/* slider styling does not follow BEM practices */

.slider {
  padding: 10px 15px 10px 5px;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s, color 0s;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

.slider input[type="range"]:focus {
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  max-width: 150px;
  height: 5px;
  cursor: pointer;
  border-radius: 1.3px;
  border: 1px solid #010101;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.colorBlock_btn {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  word-wrap: none;
  cursor: pointer;
}

.gradientContainer {
  flex: 0 0 0%;
  height: 100%;
  align-self: stretch;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.5s ease, color 0s;
}

.gradientContainer--open {
  opacity: 1;
  flex: 1 1 100%;
}

.gradientContainer--open ~ .colorBlock_head,
.colorBlock:hover .gradientContainer--open + .colorBlock_head .head_title,
.gradientContainer--open ~ .colorBlock_head:hover {
  opacity: 0;
  flex: 0 0 0%;
  margin: 0;
  font-size: 0px;
}

.gradient {
  flex: 1 1 30%;
  display: flex;
  flex-direction: row;
  transition: all 0.3s, color 0s;
}

.gradientContainer--open .gradient:hover{
  flex: 1 1 50%;
}

.gradient_block {
  flex: 0 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  transition: all 0.3s, color 0s;
  color: transparent;
}

.gradientContainer--open .gradient_block {
  flex: 1 1 10%;
  font-size: 0px;
}

.gradientContainer--open .gradient_block:hover {
  flex: 1 1 20%;
  color: #333;
  font-size: 12px;
}

@media only screen and (min-width: 900px) {
  .head_title:first-of-type {
    font-size: 16px;
  }
}

@media only screen and (min-width: 820px) {
  .colorBlock_btn {
    padding: 10px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .colorBlock {
    flex-direction: column;
    align-items: stretch;
  }

  .colorBlock_head {
    flex: 0 1 10%;
    align-items: center;
    align-self: center;
  }

  .head_title {
    transform-origin: top;
    transform: translateY(-20px) scaleY(0);
  }

  .head_title:first-of-type {
    transform: translateY(0px) scaleY(1);
  }

  .colorBlock:hover .head_title {
    font-size: 14px;
    transform: translateY(0px) scaleY(1);
  }

  .gradientContainer {
    flex-direction: row;
  }

  .gradient {
    flex-direction: column;
  }

  .gradientContainer.open .gradient_block {
    color: #333;
    font-size: 12px;
  }

  .controls {
    width: 100%;
    flex: 0 0 33%;
    padding: 30px;
    margin-top: auto;
    margin-left: 0;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    transform: translateY(300px);
  }

  .colorBlock:hover .controls {
    transform: translateY(0px);
  }

  .slider {
    padding: 5px 15px;
  }

  .row {
    margin-top: 20px;
    flex-direction: row;
  }

  .colorBlock_btn {
    align-self: center;
  }
}

@media only screen and (min-width: 540px) {
  .colorBlock_head{
    margin: 20px;
  }
  .sliders_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .navbar_btn{
    width: 100px;
  }

  .navbar_btn:hover {
    background: #3338;
    color: #eee;
  }

  .row {
    margin-left: 10px;
  }
}